<div class="container mt-6">
  <div class="columns is-centered">
    <div
      class="box column is-one-third has-background-info-dark has-text-danger-light"
    >
      <h1 class="title has-text-centered has-text-danger-light">
        Password Generator
      </h1>

      <div class="field">
        <label>Length</label>
        <input class="input mt-1" (input)="changePasswordLength($event)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeLetter()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeNumber()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(length && (includingLetter || includingNumber || includingSymbols))
        "
        (click)="onButtonClick()"
        class="button is-link is-fullwidth mb-3"
      >
        Generate!
      </button>

      <div class="box" *ngIf="passward">
        <label>Your Password</label>
        <input class="input" [value]="passward" />
      </div>
    </div>
  </div>
</div>
